*, *::after, *::before {
  box-sizing: border-box;
}


.productCard {
    background-color: #525764;
    border-radius: 15px;
    color: black;
    padding-bottom: 5px;
    max-width: 250px;
    width: 100%;
    margin-right: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}

.productImg {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
}

.productDescription {
    margin: 10px;
    color: #525764;
}

.buttonsContainer {
    margin: 10px;
    display: flex;
    flex-direction: row;
    color: #8992a7;
    height: 30px;
}

.buttonMinus {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8992a7;
    border-radius: 5px 0px 0px 5px;
    font-size: 20px;
    width: 30px;
    color: #8992a7;
}

.buttonMinus:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.countLabel {
    border-bottom: 1px solid #8992a7;
    border-top: 1px solid #8992a7;
    font-size: 16px;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    width: 30px;
    height: 100%;
}

.buttonAdd {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8992a7;
    border-radius: 0px 5px 5px 0px;
    font-size: 20px;
    width: 30px;
    color: #8992a7;
}

.buttonAdd:hover {
    background-color: rgba(0, 0, 0, 0.1);
}